/* trainslideshow
-------------------------------------------------- */
body {
	background-image : url('images/bg.jpg');
}

div.link {
	position : absolute;
	top      : 20px;
	left 	 : 20px;
	text-align : center;
}

div.link a {
	display  : block;
	background-image : url('images/next.png');
	background-repeat: no-repeat;
	width 	 : 80px;
	height   : 53px;
	border-radius  : 40px;
	text-transform : capitalize;
	text-decoration: none;
	font-weight    : bold;
	color 		   : white;
	font-size	   : 20px;
	font-family    : Georgia;
	padding-top    : 27px;
}

div.link a:hover {
	background-position : 0 -80px;
	color : black;
}

div.container{
	width       : 980px;
	margin      : 0 auto;
	padding-top : 1px;
}

div.trainslideshow{
	width      : 900px;
	height     : 624px;
	margin     : 10px auto 0;
	overflow   : hidden;
	position   : relative;
	background-image    : url('images/loading.gif');
	background-repeat   : no-repeat;
	background-position : center center;
}

div.trainslideshow div.train{
	width    : 20000px;
	height   : 600px;
	position : absolute;
	left     : 0;
	top      : 0;
	-webkit-transition : left 800ms ease-in-out;
	-moz-transition    : left 800ms ease-in-out;
	-o-transition      : left 800ms ease-in-out;
	-ms-transition     : left 800ms ease-in-out;
}

div.trainslideshow div.train > div{
	width  : 900px;
	height : inherit;
	float  : left;
	/*background-origin   : content;*/
	border-radius       : 4px;
	background-size     : cover;
	background-repeat   : no-repeat;
	background-position : center center;
}


/* Navigation
-------------------------------------------------- */

div.trainslideshow ul.btns{
	height     : 20px;
	list-style : none;
	position   : absolute;
	left       : 340px;
	bottom     : 0;
}

div.trainslideshow ul.btns li{
	float  : left;
	width  : 20px;
	height : 20px;
	cursor : pointer;
	box-shadow : inset 0 0 0 2px #D4AF37;
	margin-right       : 5px;
	border-radius      : 10px;
	-webkit-transition : all 1100ms;
	-moz-transition    : all 1100ms;
	-o-transition      : all 1100ms;
	-ms-transition     : all 1100ms;
}

div.trainslideshow ul.btns li:hover, 
div.trainslideshow ul.btns li.active{
	background-color : #333;
	-webkit-transition-duration : 200ms;
	-moz-transition-duration    : 200ms;
	-o-transition-duration      : 200ms;
	-ms-transition-duration     : 200ms;
}

div.trainslideshow div.previous,
div.trainslideshow div.next{
	position : absolute;
	top      : 285px;
	width    : 30px;
	height   : 30px;
	opacity  : 0;
	cursor   : pointer;
	background-image   : url('images/arrow.png');
	background-repeat  : no-repeat;
	-webkit-transition : opacity 500ms;
	-moz-transition    : opacity 500ms;
	-o-transition      : opacity 500ms;
	-ms-transition     : opacity 500ms;
}

div.trainslideshow:hover div.previous,
div.trainslideshow:hover div.next{
	opacity : 1;
}

div.trainslideshow div.previous{
	background-position : 0px 0px;
	left : 10px;
}
div.trainslideshow div.next{
	right : 10px;
	background-position : -30px 0px;
}



/*Fade SlideShow
***************************/

div.fadeslideshow{
	width      : 900px;
	height     : 600px;
	margin     : 10px auto 0;
	position   : relative;
}

div.fadeslideshow > div{
	position : absolute;
	left	 : 0;
	top:	 : 0;
	width  : 900px;
	height : inherit;
	/*background-origin   : content;*/
	border-radius       : 4px;
	background-size     : cover;
	background-repeat   : no-repeat;
	background-position : center center;
}